@model Project_2025_Web.DTOs.ReservationDTO

@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var planes = ViewBag.Planes as List<Project_2025_Web.Data.Entities.Plan>;
}

<div class="container mt-4">
    <h2 class="mb-4 text-success">Formulario de Reservations</h2>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Date" class="form-label">Fecha de Reservation</label>
            <input asp-for="Date" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" required />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Id_Plan" class="form-label">Seleccione el plan</label>
            <select asp-for="Id_Plan" class="form-select">
                <option disabled selected>-- Seleccione un plan --</option>
                @foreach (var plan in planes)
                {
                        <option value="@plan.Id">@plan.Name</option>
                }
            </select>
            <span asp-validation-for="Id_Plan" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Person_Number" class="form-label">Número de personas</label>
            <input asp-for="Person_Number" type="number" min="1" max="10" class="form-control" required />
            <span asp-validation-for="Person_Number" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Status" class="form-label">Estado</label>
            <select asp-for="Status" class="form-select">
                <option value="Pendiente">Pendiente</option>
                <option value="Confirmada">Confirmada</option>
                <option value="Cancelada">Cancelada</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Id_User" value="@Model?.Id_User" />

        <button type="submit" class="btn btn-primary">Reservationr</button>
    </form>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
